body {
      font-family: 'Times New Roman', Times, serif, sans-serif;
      background: #eccbcb;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      flex-direction: column;
    }
    .container {
      background: #94b8cf;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      width: 320px;
    }
    h1 {
      text-align: center;
    }
    label {
      display: block;
      margin-top: 10px;
    }
    input, select, button {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border-radius: 5px;
      border: 1px solid #0e0d0d;
    }
    button {
      background: #4CAF50;
      color: #161616;
      font-weight: bold;
      cursor: pointer;
      margin-top: 15px;
    }
    button:hover {
      background: #b35ba0;
    }
    .resultado {
      margin-top: 20px;
      padding: 15px;
      background: #cbdb3c;
      border-left: 5px solid #a33737;
      border-radius: 8px;
    }
